<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fogot password</title>
  <link rel="icon" type="image/x-icon" href="../../static/img/favicon.png">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../../static/css/login.css" />
  <script src="../../static/js/angularjs/user/fogotpassword.js"></script>
  <link rel="stylesheet" href="../../static/css/toasts.css">
  <script src="../../static/js/jscustom/UI-Js-Admin/bootstrap-show-notification.js"></script>
  <script src="../../static/js/jscustom/toasts.js"></script>
</head>

<body ng-app="myApp" ng-controller="forgotPasswordCtrl">
  <div>
    <div class="bl-nav">
      <div class="logo">
        <img src="../../static/img/logo.png" alt="">
      </div>
    </div>
    <div class="bl-login-form bl2-login-form">
      <div class="bl-form">
        <div class="bl-form-container bl2-form-container">
          <h1 class="bl-title2 bl2-title2">Fogot password</h1>

          <form ng-submit="sendResetPasswordEmail()">

            <p>Enter your Rhymthwave
              username, or the email address that you used to register. We'll send you an email with your username and a
              link to reset your password.</p>
            <form>
              <div class="form-group">
                <label class="bl-title-lable">Email or username</label>
                <input type="text" class="bl-input-login form-control" placeholder="Email or username" ng-model="email">
              </div>
              <div class="bl-btn-login">
                <button type="submit" class="btn-login btn">Send</button>
              </div>
            </form>
            <div class="bl-sign-up">
              <p>If you still need help, check out <a href="">Rhymthwave support</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>