<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account Rhymthwave</title>
  <link rel="icon" type="image/x-icon" href="../../static/img/favicon.png">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../../static/css/login.css" />
</head>
<body>
    <div class="bl-nav">
        <div class="logo">
          <img src="../../static/img/logo.png" alt="">
        </div>
      </div>
      <div id="message">
        <!-- Thông báo sẽ được hiển thị ở đây -->
        Thông báo: <span id="resultMessage"></span>
    </div>
    
</body>
</html>