<body ng-controller="SearchController">
  <div class="card card-content shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <!-- search -->
        <div class="bl-search">
          <div class="bl-search-box"></div>
        </div>
        <!-- end search -->
        <div id="interface1" ng-show="interface1">
          <div class="container-fluid mt-5">
            <div class="text-title mb-3">
              <h3>Browse all</h3>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <a href="#!browse-podcast"><img src="../../static/img/browse/1.jpg" class="card-img-top"
                        alt="image-browse" /></a>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/2.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/3.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/4.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/5.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/6.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/7.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/8.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/9.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/10.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/11.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/12.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/13.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/14.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/15.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/16.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/17.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/18.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/19.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-sm-4 mb-3">
                <div class="card play-list">
                  <div class="card-img">
                    <img src="../../static/img/browse/20.jpg" class="card-img-top" alt="image-browse" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="interface2" ng-show="interface2">
          <!-- option search -->
          <ul class="bl-option-search nav nav-pill" role="tablist">
            <li class="bl-option-search-box nav-item">
              <a id="search-tab-all" class="nav-link active has-act" data-bs-toggle="tab" href="#All">All</a>
            </li>
            <li class="bl-option-search-box nav-item">
              <a class="nav-link has-act" data-bs-toggle="tab" href="#Artists">Artists</a>
            </li>
            <li class="bl-option-search-box nav-item">
              <a class="nav-link has-act" data-bs-toggle="tab" href="#Playlists">Playlists</a>
            </li>
            <li class="bl-option-search-box nav-item">
              <a class="nav-link has-act" data-bs-toggle="tab" href="#Songs">Songs</a>
            </li>
            <li class="bl-option-search-box nav-item">
              <a class="nav-link has-act" data-bs-toggle="tab" href="#Albums">Albums</a>
            </li>
            <li class="bl-option-search-box nav-item">
              <a class="nav-link has-act" data-bs-toggle="tab" href="#Podcasts">Podcasts & shows</a>
            </li>
            <li class="bl-option-search-box nav-item">
              <a class="nav-link has-act" data-bs-toggle="tab" href="#Profiles">Profiles</a>
            </li>
            <li class="bl-option-search-box nav-item">
              <a class="nav-link has-act" data-bs-toggle="tab" href="#Genre">Genres & Mood</a>
            </li>
          </ul>

          <!-- end option search -->
          <!-- Top result & song -->
          <div class="tab-content">
            <div id="All" class=" tab-pane active"><br>
              <div class="container-fluid bl-t-s">
                <div class="row mb-3">

                 <div class="col-sm-2" ng-repeat="items in data">
                  <div class="card play-list position-relative" >
                    <div class="position-absolute top-0 end-0 z-3" style="cursor: pointer;" ng-click="deleteHistory(items.artistId)">
                      <div class="text-secondary m-1 ">
                        <i class="bi bi-x-lg"></i>
                      </div>
                    </div>
                    <a href="#!artist/{{items.artistId}}">
                      <div class="card-img text-center pb-2" style="width: 100%; max-height: 140px; overflow: hidden;">
                        <img style="object-fit: cover;" ng-src="{{ items.imagesProfile.url !== null ? items.imagesProfile.url : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="circle-img card-img-top w-75 img-fluid mt-2" alt="Sunset Over the Sea" />
                        <div class="icon">
                          <div class="icon-play">
                            <i class="bi bi-play-circle"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-play-list pb-3" style="line-height: 10px;">
                        <p class="card-text mx-3 text-light fw-bold">{{items.artistName }}</p>
                        <p class="card-text mx-3" style="font-size: 15px;">Artist</p>
                      </div>
                    </a>
                  </div>
                 </div>

                </div>
                <div>
                  <div class="row">
                    <div class="bl-r col-md-6">
                      <div class="text-title mb-3">
                        <h3>Top result</h3>
                      </div>
                      <div class="row">
                        <div class="bl-t-s-cart card play-list">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-4" ng-repeat="innerArray in dataArt">
                            <a href="#!artist/{{innerArray[3]}}" ng-click="getArtistInfo(innerArray[3])">
                              <div class="card-img" ng-if="$first">
                                <img ng-src="{{ innerArray[5] !== null ? innerArray[5] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="circle-img card-img-top"
                                  alt="Sunset Over the Sea" />                              
                              </div>
                              <div class="card-play-list" ng-if="$first">
                                <p class="card-text">{{ innerArray[4] }}</p>
                                <p class="card-text">Artist</p>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="bl-s col-md-6">
                      <div class="text-title mb-3">
                        <h3>Songs</h3>
                      </div>
                      <div class="row">
                        <div class="bl-t-s-cart card play-list">
                          <div>
                            <div class="row">
                              <div class="col-sm-12 mt-1" ng-repeat="innerArray in dataS | toArray | limitTo:5">
                                <a href="#!/song/{{innerArray[25]}}">
                                  <div class="card-img">
                                    <img style="height: 64px; width: 64px" ng-src="{{ innerArray[12] !== null ? innerArray[12] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}"
                                      class="card-img-top" alt="Sunset Over the Sea" />
                                    <span class="card-text">{{ innerArray[10] }}</span>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end Top result & song -->
              <!-- Artist -->
              <div class="container-fluid mt-5">
                <div class="text-title mb-3">
                  <h3>Artist</h3>
                </div>
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataArt | toArray | limitTo: 6">
                    <div class="card play-list">
                      <a href="#!artist/{{innerArray[3]}}" ng-click="getArtistInfo(innerArray[3])">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[5] !== null ? innerArray[5] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="circle-img card-img-top" alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[4] | limitTo: 10}}..</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

              </div>
              <!-- end Artist -->
              <!-- Albums -->
              <div class="container-fluid mt-5">
                <div class="text-title mb-3">
                  <h3>Albums</h3>
                </div>
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataAlbum | toArray | limitTo: 6">
                    <div class="card play-list">
                      <a href="#!album/album/{{innerArray[6]}}">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[8] !== null ? innerArray[8] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" alt="Sunset Over the Sea"  />

                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[7] | limitTo: 10}}..</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end Albums -->
              <!-- Playlist -->
              <div class="container-fluid mt-5">
                <div class="text-title mb-3">
                  <h3>Playlists</h3>
                </div>
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataPl | toArray | limitTo: 6">
                    <div class="card play-list">
                      <a href="#!playlist/{{innerArray[19]}}">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[21] !== null ? innerArray[21] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[20] | limitTo: 10}}..</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end Playlist -->
              <!-- Posdcasts -->
              <div class="container-fluid mt-5">
                <div class="text-title mb-3">
                  <h3>Posdcasts</h3>
                </div>
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataP | toArray | limitTo: 6">
                    <a href="#!show/{{innerArray[13]}}">
                      <div class="card play-list">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[15] !== null ? innerArray[15] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[14] | limitTo: 10}}..</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end Posdcasts -->
              <!-- Episodes -->
              <div class="container-fluid mt-5">
                <div class="text-title mb-3">
                  <h3>Episodes</h3>
                </div>
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataE | toArray | limitTo: 6">
                    <a href="#!episode/{{innerArray[16]}}">
                      <div class="card play-list">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[18] !== null ? innerArray[18] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[17] | limitTo: 10}}..</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end Episodes -->
              <!-- Profiles -->
              <div class="container-fluid mt-5">
                <div class="text-title mb-3">
                  <h3>Profiles</h3>
                </div>
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataProfile | toArray | limitTo: 6">
                    <div class="card play-list">
                      <a href="#!profile/user/{{innerArray[1]}}">
                      <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                        
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[2] !== null ? innerArray[2] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="circle-img card-img-top" alt="Sunset Over the Sea" />
                        
                        <div class="icon">
                          <div class="icon-play">
                            <i class="bi bi-play-circle"></i>
                          </div>
                        </div>
                      </div>
                    </a>
                      <div class="card-play-list">
                        <p class="card-text">{{ innerArray[1] | limitTo: 10}}..</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end Profiles -->
              <!-- Genres & Moods -->
              <div class="container-fluid mt-5">
                <div class="text-title mb-3">
                  <h3>Genres & Moods</h3>
                </div>
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataGr | toArray | limitTo: 6">
                    <a href="#!mood/{{innerArray[22]}}">
                      <div class="card play-list">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" src="../../static/img/searchdetail/gm.png" class="card-img-top"
                            alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[22] | limitTo: 10}}..</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- end Genres & Moods -->
            </div>
            <div id="Artists" class=" tab-pane fade"><br>
              <div class="container-fluid bl-t-s">
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataArt">
                    <a href="#!artist/{{innerArray[3]}}">
                      <div class="card play-list mb-4">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[5] !== null ? innerArray[5] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="circle-img card-img-top" alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[4] | limitTo: 10}}..</p>
                          <p class="card-text">Artist</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div id="Playlists" class=" tab-pane fade"><br>
              <div class="container-fluid bl-t-s">
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataPl">
                    <a href="#!playlist/{{innerArray[19]}}">
                      <div class="card play-list mb-4">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[21] !== null ? innerArray[21] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[20] | limitTo: 10}}..</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div id="Songs" class=" tab-pane fade"><br>
              <div class="container-fluid bl-t-s">
                <table class="table text-white table-borderless"> 
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Image</th>
                      <th scope="col">Title</th>
                      <th scope="col">Album</th>
                      <th scope="col">Duration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="innerArray in dataS" class="audio">                 
                      <th scope="row">{{ innerArray[9] }}</th>
                      <td>
                        <a href="#!/song/{{innerArray[25]}}"><img style="height: 64px; width: 64px" ng-src="{{ innerArray[12] !== null ? innerArray[12] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" /></a>
                      </td>
                      <td>{{ innerArray[10] }}</td>
                      <td>{{ innerArray[7] }}</td>
                      <td>{{ innerArray[11] }}</td>                  
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="Albums" class=" tab-pane fade"><br>
              <div class="container-fluid bl-t-s">
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataAlbum">
                    <a href="#!album/album/{{innerArray[6]}}">
                      <div class="card play-list">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[8] !== null ? innerArray[8] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[7] | limitTo: 10}}..</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div id="Podcasts" class=" tab-pane fade"><br>
              <div class="container-fluid bl-t-s">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="text-title mb-3">
                      <h3>Podcasts & shows</h3>
                    </div>
                    <div class="row">
                      <div class="col-sm-2" ng-repeat="innerArray in dataP">
                        <a href="#!show/{{innerArray[13]}}">
                          <div class="card play-list">
                            <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                              <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[15] !== null ? innerArray[15] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="card-img-top" alt="Sunset Over the Sea" />
                              <div class="icon">
                                <div class="icon-play">
                                  <i class="bi bi-play-circle"></i>
                                </div>
                              </div>
                            </div>
                            <div class="card-play-list">
                              <p class="card-text">{{ innerArray[14] | limitTo: 10}}..</p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 mt-5">
                    <div class="text-title mb-3">
                      <h3>Episodes</h3>
                    </div>
                    <div class="row">
                      <div class="">
                        <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-12 mt-1 mb-3" ng-repeat="innerArray in dataE">
                              <a href="#!episode/{{innerArray[16]}}">
                                <div class="card-img" >
                                  <img style="height: 134px; width: 134px" ng-src="{{ innerArray[18] !== null ? innerArray[18] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}"
                                    class="card-img-top" alt="Sunset Over the Sea" />
                                  <span class="card-text" style="font-size: 14px;">{{ innerArray[17] | limitTo: 10}}..</span>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="Profiles" class=" tab-pane fade"><br>
              <div class="container-fluid bl-t-s">
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataProfile">
                    <div class="card play-list">
                      <a href="#!profile/user/{{innerArray[1]}}">
                      <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                        
                          <img style="width: 100%; height: 100%; object-fit: cover;" ng-src="{{ innerArray[2] !== null ? innerArray[2] : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}" class="circle-img card-img-top" alt="Sunset Over the Sea" />
                        
                        <div class="icon">
                          <div class="icon-play">
                            <i class="bi bi-play-circle"></i>
                          </div>
                        </div>
                      </div>
                    </a>
                      <div class="card-play-list">
                        <p class="card-text">{{ innerArray[1] | limitTo: 10}}..</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="Genre" class=" tab-pane fade"><br>
              <div class="container-fluid bl-t-s">
                <div class="row">
                  <div class="col-sm-2" ng-repeat="innerArray in dataGr">
                    <a href="#!mood/{{innerArray[22]}}">
                      <div class="card play-list">
                        <div class="card-img" style="width: 100%; height: 150px; overflow: hidden;">
                          <img style="width: 100%; height: 100%; object-fit: cover;" src="../../static/img/searchdetail/gm.png" class="card-img-top"
                            alt="Sunset Over the Sea" />
                          <div class="icon">
                            <div class="icon-play">
                              <i class="bi bi-play-circle"></i>
                            </div>
                          </div>
                        </div>
                        <div class="card-play-list">
                          <p class="card-text">{{ innerArray[22] | limitTo: 10}}..</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>