<body ng-controller="mood">
    <div class="card card-content shadow mb-4" style="background: linear-gradient(to bottom, #237958, #413d3d);">
        <div class="card-body">
            <div class="table-responsive">
                <div class="bl-search">
                    <div class="bl-search-box"></div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="text-title mb-3">
                        <h1 style="font-size: 120px;">{{grDetail[0][0]}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-fluid mt-5">
            <div class="text-title mb-3">
              <h3>Playlists</h3>
            </div>
            <div class="row">
              <div class="col-sm-2" ng-repeat="genre in grDetail | limitTo: 6">
                <div class="card play-list">
                  <a href="#!playlist-art/{{genre[1]}}">
                    <div class="card-img">
                      <img ng-src="{{ genre[5] }}" class="card-img-top" alt="Sunset Over the Sea" />
                      <div class="icon">
                        <div class="icon-play">
                          <i class="bi bi-play-circle"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-play-list">
                      <p class="card-text">{{ genre[2] }}</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>