<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rhythm Wave for Podcasters Welcome Email</title>
</head>

<body>

    <div class="nH aiS agW">
        <div class="nH">
            <style>
                @import url(https://fonts.googleapis.com/css?family=Google+Sans:regular,medium);
                @import url(https://fonts.googleapis.com/css?family=Roboto);
            </style>
            <div class="redesign-body-modernized" style="width:478.0701754385965px;font-family: 'Google Sans', Arial, sans-serif;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 30px">
                <div class="redesign-container-modernized" style="  flex: 1;
                position: relative;
                background-color: #fff;
                box-sizing: border-box;
                margin: 5px 0 0 0;
                overflow: hidden"
                    x-savestyle=" background-color:#fff; border-radius:3px; border:1px solid #ddd; box-shadow:0 3px 5px #b2b2b2; margin:5px 0 10px 0; width:650px;">
                    <div class="redesign-image-container" style=" text-align: center;

                    vertical-align: top"><a href=""><img   th:src="@{${img}}" alt="NewsImage"
                                width="478.0701754385965px" height="250px" class="redesign-image-modernized" style="  text-align: center;
                                vertical-align: top;
                                border-radius: 12px"></a></div>
                    <table class="redesign-text-container-table-modernized" style=" border-collapse: collapse;
                    text-align: center;
                    width: 100%">
                        <tbody>
                            <tr>
                                <td>
                                    <div style=" color: #202124;
                                    font-family: Google Sans;
                                    margin-top: 20px;
                                    font-size: 32px;
                                    line-height: 40px;
                                    margin-bottom: 12px" class="redesign-headline-modernized headline-font-size-m">
                                        [[${title}]]</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style=" color: #5f6368;
                                    font-family: Google Sans;
                                    word-wrap: break-word;
                                    font-size: 22px;
                                    line-height: 28px;
                                    margin-bottom: 20px"
                                        class="redesign-description-modernized description-font-size-m">[[${content}]]
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="redesign-call-to-action-container-modernized"
                                        style=" display: inline-block"><a style=" text-decoration: none;
                                            width: 100%" th:href="@{${toUrl}}" class="redesign-call-to-action-anchor">
                                            <span style="  background-color: #1a73e8;
                                            border-radius: 4px;
                                            color: #fff;
                                            display: block;
                                            font-family: Google Sans;
                                            font-weight: 500;
                                            letter-spacing: 0.25px;
                                            padding-left: 32px;
                                            padding-right: 32px;
                                            text-align: center;
                                            text-decoration: none;
                                            white-space: normal;
                                            font-size: 20px;
                                            line-height: 26px;
                                            padding: 12px 32px
                                            "
                                                class="redesign-call-to-action-span-modernized call-to-action-span-font-size-m">Learn
                                                more</span></a></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>