<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rhythm Wave for Podcasters Welcome Email</title>
</head>

<body>

    <div class="nH aiS agW">
        <div class="nH">
            <style>
                @import url(https://fonts.googleapis.com/css?family=Google+Sans:regular,medium);
                @import url(https://fonts.googleapis.com/css?family=Roboto);
            </style>
            <div class="redesign-body-modernized" style="width:478.0701754385965px;font-family: 'Google Sans', Arial, sans-serif;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 30px">
                    <div>
                        <img src="https://res.cloudinary.com/div9ldpou/image/upload/v1699518499/ImageManager/Image%20News/logo.png_ydcd8m.png" style="width: 100%; height: 300px;"
                        alt="">
                       
                    </div>
                    <h2>Your advertising results.Thank you for accompanying us</h2>
                    <table style="  border: 1px solid; width: 100%; border-collapse: collapse;">
                        <tr style="  border: 1px solid;">
                          <th  style=" padding: 10px; border: 1px solid;">Listening figures</th>
                          <th  style=" padding: 10px;  border: 1px solid;">View the article</th>
                          <th  style=" padding: 10px;    border: 1px solid;">Approach</th>
                        </tr>

                        <tr style="border: 1px solid;">
                          <td style="border: 1px solid; padding: 20px 0px; text-align: center;">[[${listened}]]</td>
                          <td style="border: 1px solid; padding: 20px 0px; text-align: center;">[[${clicked}]]</td>
                          <td style="border: 1px solid; padding: 20px 0px; text-align: center;">[[${approach}]]</td>
                        </tr>
                    </table>
                      

            </div>
        </div>
</body>

</html>